:root {
  --identity-primary: #dc0a2d;

  --grayscale-dark: #212121;
  --grayscale-medium: #666666;
  --grayscale-light: #e0e0e0;
  --grayscale-background: #efefef;
  --grayscale-white: #ffffff;

  --headline-font-size: 24px;
  --body1-font-size: 14px;
  --body2-font-size: 12px;
  --body3-font-size: 10px;
  --subtitle1-font-size: 14px;
  --subtitle2-font-size: 12px;
  --subtitle3-font-size: 10px;
  --caption-font-size: 8px;

  --headline-line-height: 32px;
  --common-line-height: 16px;
  --caption-line-height: 12px;

  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --drop-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
  --drop-shadow-hover: 0px 3px 12px 3px rgba(0, 0, 0, 0.2);
  --drop-shadow-inner: 0px 1px 3px 1px rgba(0, 0, 0, 0.25) inset;
}

h2,
h3,
h4,
.body1-fonts,
.body2-fonts,
.body3-fonts {
  line-height: var(--common-line-height);
}

h1 {
  font-size: var(--headline-font-size);
  line-height: var(--headline-line-height);
}

h2 {
  font-size: var(--subtitle1-font-size);
}

h3 {
  font-size: var(--subtitle2-font-size);
}

h4 {
  font-size: var(--subtitle3-font-size);
}

.body1-fonts {
  font-size: var(--body1-font-size);
}

.body2-fonts {
  font-size: var(--body2-font-size);
}

.body3-fonts {
  font-size: var(--body3-font-size);
}

.caption-fonts {
  font-size: var(--caption-font-size);
  line-height: var(--caption-line-height);
}

input:focus-visible {
  outline: 0;
}

.featured-img a.arrow.hidden {
  display: none;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: black
}


.header.home {
  width: 100%;
  background-color: #dc0a2d;;
}

.container {
  width: 100%;
  margin: 0;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  color: blue;
}

.logo-wrapper > h1 {
  color: var(--grayscale-white);
  margin-left: 3rem;
  font-weight: 600;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.logo-wrapper > h1:hover{
  color: var(--grayscale-dark);
  border-bottom: 3px solid var(--grayscale-dark);
}
.logo-wrapper > img {
  margin-right: 16px;
  margin-left: 20px;
}
main {
  position: relative;
  width: 100%;
  height: 95%;
  background-image: url('https://res.cloudinary.com/dzynqn10l/image/upload/v1633196203/Msc/pokemon-bg_ig4uv3.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

#pokemon-container {
  height: 655px;
}

#answer {
  display: none;
}

#bg-overlay {
  color: #fff;
  position: absolute;
  background-color: #dd1716;
  right: 16%;
  width: 21vw;
  height: 42vh;
  top: 20%;
  border-radius: 50%;
}

#text-overlay {
  position: absolute;
  right: 17%;
  top: 35%;
  background-color: #ffcb02;
  border: solid 7px #2c70ae;
  padding: 20px;
  font-family: 'Bangers', Arial, sans-serif;
  font-size: 3.5rem;
  letter-spacing: 1.2px;
  color: #3ea2fe;
  text-shadow: 2px 2px #1d366c;
  border-radius: 20px;
  text-align: center;
}

#controls {
  position: relative;
  padding: 20px 40px;
}

button {
  background: #fff;
  border: none;
  color: #3e7ae7;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 36px;
  border-radius: 8px;
  text-transform: uppercase;
  box-shadow: 0px 4px 10px 1px;
  cursor: pointer;
  transition: all .2s ease-out;
  
}

button:hover {
  box-shadow: 0px 4px 10px 4px;
  background-color: #fff6d1;
}

button.correct,
button.incorrect {
  color: #d9fcd9;
  box-shadow: none;
}

button.correct {
  background: #0dff0d;
}

button.incorrect {
  background: #ea2e25;
}

#play {
  position: absolute;
  top: -56px;
  left: 39px;
  
}

#pokeball {
  width: 15vw;
  margin: 250px 0 0 280px;
  position: absolute;
  visibility: hidden;
  animation: wiggle 1.35s infinite;
}

#pokemon-image {
  width: 15vw;
  margin: 250px 0 0 280px;
  transform: scale(2.5);
  filter: brightness(0);
  transition: filter .5s ease-out;
  position: absolute;
  left: 0;
}

main.fetching #pokeball {
  visibility: visible;
}

main.fetching #pokemon-image {
  visibility: hidden;
  display: none;
}

main.fetching #choices {
  display: none;
}

main.revealed #pokemon-image {
  filter: none;
}

main.revealed #answer {
  display: block;
}

#choices {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px;
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  80% { transform: rotate(0deg); }
  85% { transform: rotate(6deg); }
  95% { transform: rotate(-6deg); }
  100% { transform: rotate(0deg); }
}